<%#
Copyright 2008-2013 Concur Technologies, Inc.

Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License. You may obtain
a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
License for the specific language governing permissions and limitations
under the License.
%>
<% language_tabs = current_page.data.language_tabs || [] %>
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= current_page.data.title || "Getting Started with Flex.io" %></title>
    <meta name="description" content="<%= current_page.data.title || "The quick start guide for using Flex.io in the web app, Command Line Interface (CLI) and API." %>">

    <link rel="icon" href="https://www.flex.io/assets/favicon-16x16.png" type="image/png" sizes="16x16">
    <link rel="icon" href="https://www.flex.io/assets/favicon-32x32.png" type="image/png" sizes="32x32">
    <link rel="icon" href="https://www.flex.io/assets/favicon-96x96.png" type="image/png" sizes="96x96">
    <link rel="apple-touch-icon" href="https://www.flex.io/assets/apple-touch-icon.png">

    <!-- facebook -->
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= current_page.data.title || "Getting Started with Flex.io" %>">
    <meta property="og:description" content="The quick start guide for using Flex.io in the web app, Command Line Interface (CLI) and API.">
    <meta property="og:url" content="https://www.flex.io/docs/getting-started">
    <meta property="og:site_name" content="Flex.io">
    <meta property="og:image" content="https://s3.amazonaws.com/flexio-wp/wp-content/uploads/2014/09/logo-flexio-tm-navbar.png">

    <!-- twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="The quick start guide for using Flex.io in the web app, Command Line Interface (CLI) and API.">
    <meta name="twitter:title" content="<%= current_page.data.title || "Getting Started with Flex.io" %>">
    <meta name="twitter:site" content="@flexiodata">
    <meta name="twitter:image" content="https://s3.amazonaws.com/flexio-wp/wp-content/uploads/2014/09/logo-flexio-tm-navbar.png">
    <meta name="twitter:creator" content="@flexiodata">

    <!-- google plus -->
    <link rel="publisher" href="https://plus.google.com/+flexiodata">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.6.1/tachyons.min.css" integrity="sha256-eu1dpzpUytdOAUmB67Qi3mBb6HFjruP8BoAzk4lKiSc=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.flex.io/css/style.css" rel="stylesheet">

    <style>
      <%= Rouge::Themes::Base16::Monokai.render(:scope => '.highlight') %>
    </style>
    <%= stylesheet_link_tag :screen, media: :screen %>
    <%= stylesheet_link_tag :print, media: :print %>
    <% if current_page.data.search %>
      <%= javascript_include_tag  "all" %>
    <% else %>
      <%= javascript_include_tag  "all_nosearch" %>
    <% end %>

    <link rel="canonical" href="https://www.flex.io/docs/getting-started">

    <script type="text/javascript" async="" src="https://cdn.segment.com/analytics.js/v1/xQygAfhdyP1wR682k7LZnpz3RTnhpvd3/analytics.min.js"></script>
  </head>

  <body class="<%= page_classes %>" data-languages="<%=h language_tabs.map{ |lang| lang.is_a?(Hash) ? lang.keys.first : lang }.to_json %>">

    <nav
      class="fixed top-0 w-100 flex flex-row items-center ph3 ph4-l bg-white bb b--black-10"
      style="height: 71px; z-index: 100"
    >
      <div class="flex-fill flex flex-row items-center truncate">
        <a href="/" class="dib" style="padding: 20px 0; height: 70px">
          <img src="https://www.flex.io/assets/logo-flexio-navbar.png" alt="Flex.io logo" class="db">
        </a>
      </div>
      <div class="db dn-l h-100">
        <div class="flex flex-row items-center h-100">
          <a href="#" class="css-nav-link" style="border: 0"><i class="material-icons" style="font-size: 33px">menu</i></a>
        </div>
      </div>
      <div class="dn db-l h-100">
        <div class="flex flex-row items-center h-100">
          <a href="/use-cases" class="mh2 min-w5 ttu css-nav-link">Use Cases</a>
          <a href="/templates" class="mh2 min-w5 ttu css-nav-link">Templates</a>
          <a href="/docs" class="mh2 min-w5 ttu css-nav-link css-nav-active">Docs</a>
          <a href="/blog" class="mh2 min-w5 ttu css-nav-link">Blog</a>
          <a href="/app/signin" class="mh2 min-w5 ttu css-nav-link">Sign In</a>
          <a href="/app/signup" class="ml2 link no-underline f6 f6-ns ttu b br1 white bg-orange darken-10 ph2 ph3-ns pv2 css-nav-cta">
            Sign Up
          </a>
        </div>
      </div>
    </nav>

    <div class="tocify-wrapper br b--black-10">
      <% if language_tabs.any? %>
        <div class="lang-selector">
          <% language_tabs.each do |lang| %>
            <% if lang.is_a? Hash %>
              <a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
            <% else %>
              <a href="#" data-language-name="<%= lang %>"><%= lang %></a>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <% if current_page.data.search %>
        <div class="search">
          <input type="text" class="search" id="input-search" placeholder="Search">
        </div>
        <ul class="search-results"></ul>
      <% end %>
      <div id="toc">
      </div>
      <% if current_page.data.toc_footers %>
        <ul class="toc-footer">
          <% current_page.data.toc_footers.each do |footer| %>
            <li><%= footer %></li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <div class="page-wrapper single-column">
      <div class="dark-box"></div>
      <div class="content">
        <%= yield %>
        <% current_page.data.includes && current_page.data.includes.each do |include| %>
          <%= partial "includes/#{include}" %>
        <% end %>
      </div>
      <div class="dark-box">
        <% if language_tabs.any? %>
          <div class="lang-selector">
            <% language_tabs.each do |lang| %>
              <% if lang.is_a? Hash %>
                <a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
              <% else %>
                <a href="#" data-language-name="<%= lang %>"><%= lang %></a>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-52094272-1', 'auto');
      ga('send', 'pageview');

      // This does hash-click tracking (inspired by http://stackoverflow.com/a/4813223)
      $(document).ready(function() {
        $('.tocify-item a').on('click', function(){
          ga('send', 'pageview', {'page': location.pathname + location.search  + location.hash});
        });
      });
    </script>
  </body>
</html>
